
    <div class="row-fluid">



        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>List icons</li>
            <li><i class="fa-li fa fa-check-square"></i>can be used</li>
            <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
            <li><i class="fa-li fa fa-square"></i>in lists</li>
        </ul>

        <div class="small-6 large-3 columns">
            <img src="@routes.Assets.at("/images/red_car.png")">
        </div>

        <div class="small-0 large-3 columns">

        </div>

        <div class="small-6 large-3 columns">

            <div class="row">
                <div class="small-1 columns">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="small-11 columns">
                    6465 Dobbin Center Way
                    <br>
                    Columbia, MD 21045
                </div>
            </div>

            <div class="row">

                <div class="small-1 columns">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="small-11 columns">
                    (410) 730-1050
                </div>
            </div>

            <div class="row">

                <div class="small-1 columns">

                </div>
                <div class="small-11 columns">

                </div>
            </div>

        </div>











        </div>




